* text eol=lf

# Binaries
bdi binary
bdi.phar binary
bdi.phar.asc binary

# Directories
/.github export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/update-composer-json.js export-ignore